body{
  margin: 0px;
  padding:0px;
  color:#000042;
  text-align: center;
}
pre{
  border: 1px dotted grey; 
  padding: 5px;
}
#page-wrapper{
  text-align: left;
  margin: 10px auto 10px auto;
  padding: 6px;
  max-width: 1200px;
  border: 1px solid #aaa;
}
.folder{
  margin: 0px 10px 10px 10px;
}
.folder img{
  margin: 3px;
}
